@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    /* font-family: Arial, sans-serif; */
    font-family: "Roboto", sans-serif;
    margin: 20px;
    color: #2f2f2f;
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: #2f2f2f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid black;
    color: #2f2f2f;
}

th,
td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.chart-container {
    width: 75%;
    margin: 0 auto;
}

.month-button,
#reset {
    cursor: pointer;
}